<div class="font-semibold absolute right-5 bottom-0">
    <p class=""> <small>End Footer &copy; 2025</small> </p>
</div>
<script src="/fontawesome/js/all.js"></script>
<script src="/fontawesome/js/all.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/super-build/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/super-build/translations/es.js"></script>
<script src="/js/index.js"></script>