<div class="font-semibold max-h-screen absolute right-5 bottom-0">
    <p class=""> <small>End Footer &copy; 2025</small> </p>
</div>
<script src="/fontawesome/js/all.js"></script>
<script src="/fontawesome/js/all.min.js"></script>
<script src="/js/index.js"></script>