<div class="items-center font-semibold justify-center flex bg-sky-500 mb-5 max-h-full h-12">
    <ul class="flex">
        <li class="mr-10">
            <a href="/dashboard" class="block">Trang chủ</a>
        </li>
        <li class="mr-10">
            <a href="/user" class="block" title="">Thông tin người dùng</a>
        </li>
        <li class="mr-10">
            <a href="/category" class="block" title="">Danh mục</a>
        </li>
        <li class="mr-10">
            <a href="/news" class="block" title="">Bài viết</a>
        </li>
        <!-- <li class="mr-10">
            <a href="/information" class="block" title="">Thông tin Liên hệ</a>
        </li> -->
        <li>
            <a href="/admin/logout" class="block" title="">Đăng Xuất</a>
        </li>
    </ul>
</div> 