<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../component/header.ejs') -%>
</head>

<body>
    <%- include('../component/sidebar.ejs') -%>
    <%- include('../component/table.ejs') -%>

</body>
<footer class="">
    <%- include('../component/footer.ejs') -%>
</footer>
</html>